.about {
    padding: 112px 0 184px;
    color: $bigStone;
    max-width: $desktop;
    margin: auto;

    &__image {
        width: 128px;
        height: 128px;
    }

    &__title {
        max-width: 780px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin-bottom: 32px 0 16px 0;
    }

    &__description {
        width: 780px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: $shuttleGray;
        margin-bottom: 60px;
    }

    &__link {
        color: $azureRadiance;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    &__link:hover{
        color: $royalPurple;
        transition: ease-in;
    }

    &__mail {
        color: $azureRadiance;
        text-decoration: none;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        padding-bottom: 8px;
        border-bottom: solid 2px $azureRadiance;
    }
}