// Colors
$violet: #000;
$yellow: #F9C802;
$white: #ffffff;
$bigStone: #171F3F;
$shuttleGray: #52606D;
$azureRadiance: #0593FB;
$royalPurple: #653CAD;
$ghost: #CBD2D9;
$malachite: #06C847;
$lightGray: #F5F7FA;

// Site widths
$desktop: 1216px;
$mobile: 767px;